<header>
    <navBar>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    <label for="nombre">Indica tu nombre</label>
    <form action="admin">
	    <input type="text" name="user">
    </form>
    </navBar>
</header>